<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<footer id="footer" class="uk-section uk-section-muted uk-section-small">
    <div class="uk-container uk-container-center">
        <div class="uk-card">
            <div class="uk-grid">
                <div class="uk-width-1-2@m">
                    <p><f:format.raw>{field_copyright}</f:format.raw></p>
                </div>

                <div class="uk-width-1-2@m">
                    <div class="uk-navbar-flip">
                        <ul class="uk-subnav uk-subnav-line" style="margin-right: 40px;">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-position-right">
                <a href="#top" data-uk-totop data-uk-scroll></a>
            </div>
        </div>
    </div>
</footer>
</html>
