<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <f:switch expression="{field_space}">
        <f:case value="medium">
            <f:variable name="gridType">uk-grid-medium</f:variable>
        </f:case>
        <f:case value="large">
            <f:variable name="gridType">uk-grid-large</f:variable>
        </f:case>
        <f:case value="none">
            <f:variable name="gridType">uk-grid-collapse</f:variable>
        </f:case>
        <f:defaultCase>
            <f:comment>small is default</f:comment>
            <f:variable name="gridType">uk-grid-small</f:variable>
        </f:defaultCase>
    </f:switch>
    <f:if condition="!{field_width}">
        <f:variable name="field_width">1-1</f:variable>
    </f:if>
    <div class="uk-child-width-{field_width} {gridType}" uk-grid uk-lightbox="animation: {field_type}">
        <f:for each="{field_image}" as="image">
            <div>
                <a class="uk-inline" href="{image.publicUrl}" data-caption="Caption 3">
                    <f:image image="{image}" cropVariant="default" alt="{image.alternative}" maxHeight="200" loading="lazy"  />
                </a>
            </div>
        </f:for>
    </div>
</f:section>

</html>
